  body {
    margin: 0;
    
    padding : 0;
    font-family: 'Open Sans', sans-serif;

    
    
}

.footer-content{
    margin-top: 4px;
    background-color: #F4F4F4;
    color: #151515;
    display: block;
    
    padding : 10px;
    font-size: 10pt;
    margin-bottom: 0;
    
    text-align: center;
    
}
.categories,.subcribe{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    
}
.subcribe{
    margin-left: 200px;
  
}
.categories ul{
    list-style: none;
}
.categories a,.categories a:visited{
    color: #333333;
    text-decoration: none;
}
.categories a:hover{
    text-decoration: underline;
    color: black;
}
.bottom{

        margin-top: 0;
    background-color: #151515;
    color: #c1c1c1;
    display: block;
    
    padding: 3px;
    font-size: 10pt;
    margin-bottom: 0;
    text-align: center;
}
.inputsubcribeEmail{
                width: 80%;
                padding: 20px 20px;
                
                display: block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                 display: inline-block;
            }     
             .subcribe-button{
                 margin-left: 0;
                width: 100px;
                background-color: #333;
                color: #c1c1c1;
                padding: 20px 20px;
                
                border : none;
                border-radius: 4px;
                cursor : pointer;
                 display: inline-block;
               
             
                    
            }
            .subcribe-button:hover{
                color: white;
                background-color: black;
                
            }
            .content-bottom{
                margin-bottom: 0;
                border-bottom: none;
                bottom: 0px;
            }
       
           